<h1>Bonjour! Svp confirmez votre email!</h1>

<p>
    SVP confirmez votre adress email en cliquant sur le lien ci dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
