<div id="navbar">
           
    <button class="hamburger" id="hamburger">
       <i class="fas fa-bars" id="la"></i>
   </button>

   <a href="{{ path('carte_accueil') }}"><h3 class="logo">Mon logo</h3></a>
    <ul class="nav-ul" id="nav-ul">
       <li><a>Mon panier</a></li>
        <li> <a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_register') }}">inscription</a></li>
    </ul>
    <ul class="icones">
       <li>
           <form action="#" id="form">
               <input type="text" class="searchbar" id="searchbar">
               <button type="submit" class="fas fa-search" id="searchbutton"></button>
           </form>
        </li>
       <li>
           <i class="fas fa-shopping-basket" id="basket"></i>
       </li>
       <li>
        <a href="{{ path('app_logout') }}"><i class="fas fa-user-alt-slash" id="profil"></i></a>
       </li>
   </ul>
   
</div>   